@sd: 5px;
@red: rgba(187,43,60,1);
@blue: rgba(36,148,219,1);
@green: rgba(135,174,42,1);

@white: rgba(215,207,198,1);

@red_mid: rgba(61,0,0,1);
@blue_mid: rgba(5,28,57,1);
@green_mid: rgba(27,70,17,1);

.game_container {
    display:block;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    position:absolute;
    background-image:url('/bedge_grunge.png');
    background-repeat:repeat;
}

.fixed_top {
    top:0px;
}

.fixed_bottom {
    bottom:0px;
}

.gamebar {
    display:block;
    position:absolute;
    left:0px;
    width:100%;
    height:100px;
    background-image:url('/low_contrast_linen.png');
    background-repeat:repeat;

}

.hand {
    overflow-x:scroll;
    margin: 0px auto;
    padding-top: 5px;
    max-width:800px;
}

.bar_icons {
    position:absolute; display:block; top:20px; color:white; left:16px;
}

.bar_controls { position: absolute; top: 8px; right: 8px; }

.new_hand{height: 75px;}

.board {
    margin: 0px auto;
}

.board_container {
    width:100%;
    overflow: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
    vertical-align: middle;
    position:absolute;
    top: -5px;
}

.canvas_container {
    position: absolute;
    bottom:200px;
}

.p1_canvas_container {
    .canvas_container;
    left:0px;
}
.p2_canvas_container {
    .canvas_container;
    right:0px;
}


.hand_table td.board_item {
    padding:5px;
    background:none;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;

}

.board_item {
    width: 80px;
    height: 80px;
    margin:10px;
    padding:0px;
}

td.board_item {
    background:#fff;
    background:-moz-linear-gradient(top, #fff, #eee);
    background:-webkit-gradient(linear,0 0, 0 100%, from(#fff), to(#eee));
    box-shadow:inset 0 0 0 1px #fff;
    -moz-box-shadow:inset 0 0 0 1px #fff;
    -webkit-box-shadow:inset 0 0 0 1px #fff;
    text-align:center;
    vertical-align:middle;
}

.board tr:nth-child(odd) td:nth-child(even),
.board tr:nth-child(even) td:nth-child(odd) {
    background:#ccc;
    background:-moz-linear-gradient(top, #ccc, #eee);
    background:-webkit-gradient(linear,0 0, 0 100%, from(#ccc), to(#eee));
    box-shadow:inset 0 0 10px rgba(0,0,0,.4);
    -moz-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
    -webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
}


.board_item_graphic {
    height:64px;
    width:64px;
    border-style: solid;
    border-color: @white;
    border-width: 8px;
}

.bkg_red { background-color: @red;}
.bkg_blue { background-color: @blue;}
.bkg_green { background-color: @green;}

.top_red { border-top-color: @red; }
.top_blue { border-top-color: @blue; }
.top_green { border-top-color: @green; }

.right_red { border-right-color: @red; }
.right_blue { border-right-color: @blue; }
.right_green { border-right-color: @green; }

.left_red { border-left-color: @red; }
.left_blue { border-left-color: @blue; }
.left_green { border-left-color: @green; }

.bottom_red { border-bottom-color: @red; }
.bottom_blue { border-bottom-color: @blue; }
.bottom_green { border-bottom-color: @green; }

.action_regular_background{
    background-position: left top, center center;
    background-repeat: repeat, no-repeat;
}

.action_empty {
    background-image: url('/empty_bg.png');
    background-repeat: repeat;
    border-width:0px;
    width:80px;
    height:80px;
}

.selected_tile {
    opacity:0.5;
}

.action_atk { 
    background-image: url('/rank2_bg.png'), url('/atk.png');
    .action_regular_background;
}

.action_atk2 { 
    background-image: url('/rank2_bg.png'), url('/atk2.png');
    .action_regular_background;

}

.action_atk3 { 
    background-image: url('/rank2_bg.png'), url('/atk3.png');
    .action_regular_background;
}

.action_atk_plus { 
    background-image: url('/rank2_bg.png'), url('/atk_plus.png');
    .action_regular_background;
}

.action_def_plus { 
    background-image: url('/rank2_bg.png'), url('/def_plus.png');
    .action_regular_background;
}

.embossed_text {
    text-shadow: 0px 2px 2px white;
    color: rgba(175, 164, 150, 0.75);
    font: 60px "Arial Black";
}

.modal_body {
    text-align: center;
}

